*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1{
    font-size: 2.870rem;
}
.container{
    margin-right: 100px;
    margin-left: 100px;
}

#header-main{
    height: 100vh;
    background-image: url(./imagens/background.png);
    background-position: center;
    background-size: cover;
    right: 0;
}
.header{
    margin:  0 6.25rem 0 6.25rem;
}
.logo{
    margin-top:1.87rem;
    width: 6.25rem;
}
.header-text{
    max-width:21.875rem ;
    margin-top: 8.75rem ;
}
.squere{
    height: 0.9375rem;
    width: 0.9375rem;
    display: inline-block;
    background: #f67c92;
    margin: 15px 0;
}
.btn-header{
    padding: 1.125rem 2.5rem;
    background: transparent;
    outline: none;
    font-weight: bold;
    border: 2px solid #f67c92;
    cursor: pointer;
}
.header-text p{
    font-size: 1.25rem;
    line-height: 1.125rem;
    color:#777;
    letter-spacing: 1.5px;

}
.headerbutton{
    margin-top: 1.3125rem;
    margin-bottom: 3.75rem;
}
.slide1{
    width: 15px;
    height: 15px;
    background: #f67c92;
    display: inline-block;
}
.slide2{
    width: 80px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.slide3{
     width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
#sideNav{
width: 250px;
height: 100vh;
position: fixed;
right: -250px;
top: 0;
z-index:1;
background: #f67c92;
transition: 0.5s;
}
nav ul li {
    list-style: none;
    margin: 50px 20px;
    
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
#menuBtn{
    width: 50px;
    position: fixed;
    top: 35px;
    right: 65px;
    z-index: 2;
    cursor: pointer;
}
#about,#offert{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-left-col{
   flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
}
.about-right-col{
    flex-basis: 50%;
    text-align: right;
}
.about-text{
    max-width:500px;
    margin-right: 100px;
    display: inline-block;
}
.about-text p{
    font-size: 25px;
}
.about-text h2{
    margin: 50ox 0 10px;
    font-size: 25px;
    font-style: italic;
}
.about-text h3{
    font-size: 25px;
    font-style: italic;
    color: #333;
}
#features{
    padding-top: 50px;
    padding-bottom: 50px;
}
.feature-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.feature-col{
    flex-basis: 25%;
    text-align: center;
}
.feature-col img{
    width: 100px;
}
.feature-col h4{
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 400;
}
.feature-col p{
    font-size: 18px
}
.feature-btn{
    margin:80px auto 0;
    display:flex;
    align-items: flex-end;
    justify-content: center;
}
.feature-btn .slide{
    text-align:right;
    display: inline-block;
    margin-right: 25px;
}
#course{
    padding: 100px 0;
}
.courser-row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
.course-right-col{
    flex-basis: 50%;
}
.course-right-col img{
    width: 100%;
}
.course-left-col{
    flex-basis: 50%;
}
.course-left-col h1{
    text-transform: uppercase;
    width: 15ch;
}
.course-left-col p{
    font-size: 18px;
    width: 35ch;
}
.courser-text{
    max-width: 350px;
}
.courser-text button{
    margin: 30px 0;
}
#offert button{
     margin: 30px 0;
}
.contact-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.contact-righ-col, .contact-left-col{
    flex-basis: 50%;
}
.contact-righ-col img{
    width: 100%;
}
form{   
    max-width: 350px;
    margin: 30px 0;
}
form input{
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 1px solid #f67c92;
}
#footer{
    padding: 50px 0 30px;
}
hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #f67c92;
}
.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left-col{
    flex-basis: 50%;
    margin-top: 60px;
}
.footer-right-col{
    flex-basis: 35%;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.link-title h4{
    color: #fab3c4;
    margin-bottom: 20px;
}
.link-title small{
    font-size: 13px;
    color: #777;
}
.footer-info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-logo img{
    width: 100px;
}
.footer-logo button{
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 10px;
}
.copyright-text,.footer-logo{
    flex-basis: 40%;
}
.social-links{
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    padding: 15px;
}
.social-links img{
    display: block;
    cursor: pointer;
    margin: 0 auto 20px;
    cursor: pointer;
}
@media only screen and (max-width:770px){
    #header-main{
        background-image: none;
    }
    .container{
        margin-right: 50px;
        margin-left:50px;
    }
    .logo{
        margin-top:27px;
        width: 70px;
    }
    .header-text{
        margin-top: 100px;
    }
    h1{
        font-size: 22px;
    }
    #menuBtn{
    width: 40px;
    right: 50px;
}
.btn-header{
    padding: 10px 16px;
}
.social-links{
    width: 14px;
    margin:15px auto; 
}
.about-left-col,.about-right-col{
    flex-basis: 100%;
}
.about-text{
        margin: 50px 50px 0;
        display: inline-block;
    }
    .about-text h2{
        font-size: 18px;
    }
    .feature-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .course-left-col{
        flex-basis: 100%;
    }
    .course-right-col{
        flex-basis: 100%;
        margin-top: 70px;
    }
    .contact-left-col,.contact-right-col{
        flex-basis: 100%;
    }
    .contact-right-col{
        margin-top: 50px;
    }
    .footer-left-col,.footer-right-col{
        flex-basis: 100%;
    }
    .link-title{
        flex-basis: 50%;
        margin-bottom: 30px;
    }
}